body {
 background: url(../IMG/Hellgate.jpg);
 background-size: cover;
 height: 10vh;
 background-repeat: no-repeat;

}

.head {
  height: 15vh;
}

.login {
  color: white;
  background-color: darkred;
  height: 40vh;
}

.buttons {
  height: 5vh;
}

#opacidad {
  color: azure;
  background-color: red;
  opacity: 60%;
}

#candado {
  display: flex;
  margin-bottom: 1vh;
 justify-content: center;
 justify-items: center;
}